* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #3d576b;
  
}

/* header style */

header {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 140%;
}

#menu {
    list-style: none;
    padding: 5px;
}

#menu a:link {
    font-size: 60%;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    letter-spacing: 2px;
    padding: 5px;
}

#menu a:hover {
    color: #ebb9df;
}

#menu a:active {
    text-decoration: underline;
}

/* hero */

section {
    display: flex;
    justify-content: center;
}

.content-container {
    width: 95vw;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

h3 {
    margin: 10px;
    font-size: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 200%;
}

.cta-btn {
    background-color: #393e41;
    color: white;
    margin-top: 10px;
    padding: 7.5px;
    text-transform: uppercase;
    font-family: inherit;
    letter-spacing: 5px;
    border-radius: 20px;
}

.cta-btn:active {
    color: #f9f9dc;
    background-color: #5d576b;
}

p {
    
    text-align: justify;
    line-height: 180%;
    margin-bottom: 20px;
}



