* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #323639;

}

/* header style */



header {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 160%;
}

#menu {
    list-style: none;
    padding: 5px;
}

li {
    display: inline;
    color:#323639;
}


#menu a:link {
    font-size: 100%;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    letter-spacing: 2px;
    padding: 5px;
}

#menu a:hover {
    color:#3f5543;
}

/* hero */


.hero {
    position: relative;
    display: flex;
    justify-content: center;
}

#hero-cropped {
    display: none;
}

.tag-line-prt1 {
    background-color: #3f5543ca;
    color: white;
    position: absolute;
    top: 10px;
    margin: 0;
    width: 100%;
}

.tag-line-prt2 {
    color: #323639;
    background-color: #ebb9dfdb;
    position: absolute;
    bottom: 10px;
    margin: 0;
    width: 100%;
}

section {
    display: flex;
    justify-content: center;
}

.content-container,
.hero-container,
.about-container,
.mission-container {
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10px;

}

h2 {
    margin: 10px;
    font-size: 130%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 200%;
}

h3 {
    margin: 10px;
    font-size: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 200%;
}


p {
    font-size: 120%;
    text-align: justify;
    line-height: 180%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.p-about-2a {
    display: none;
}

/* footer */
footer {
    width: 100%;
    height: 150px;
    background-color: #323639;
    color: white;
}

/* used icons from love running walk through project */

.footer-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.social-icons {
    list-style: none;
}

.social-icons>li {
    display: inline;
}

.social-icons i {
    color: white;
    font-size: 160%;
    padding: 10px;
    margin-top: 10px;
}

footer p {
    margin: 10px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

/* form section https: //www.w3schools.com/howto/howto_css_contact_form.asp */

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #668c76;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

label {
    color: #323639;
}

input[type=submit] {

    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 100%;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: #323639;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #455E49
}

.container {
    border-radius: 5px;
    background-color: #ebb9df;
    padding: 2px 10px 10px 10px;
    margin-bottom: 20px;
}

legend {
    text-transform: uppercase;
    text-align: center;
    color: white;
    background-color: #323639;
    font-size: 100%;
    letter-spacing: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
}

#back-to-home {
    text-transform: uppercase;
    font-family: 'Oswald',sans-serif;
    letter-spacing: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.scroll-top {
    background-color:#ebb9df;
    padding: 15px;
    border-radius: 5px;
    margin: 20px;
}
#back-to-top {
    color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
}

  html {
      scroll-behavior: smooth;
  }

/* screens 768px min-width */
@media screen and (min-width: 768px) {

    /* header */
    header {
       width: 95vw;
        margin: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }

    /* hero */
    #hero-no-crop {
        display: none;
    }

    #hero-cropped {
        display: flex;
        flex-direction: column;
    }

    /* about */
    .a-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

    }

    .p1 {
        width: 50%;
        height: auto;

    }

    .p-about-2 {
        width: 90%;
    }

    .potting-pic {
        width: 35%;
        height: auto;
    }

    .potting {
        margin-top: 18px;
        border: 5px;
        border-style: solid;
        border-radius: 5px;
        border-color: #ebb9df;

    }
     /* our mission section */
     .m-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .p-mission-1 {
        width: 50%;
    }

    .woman-polyt {
        width: 35%;
        height: auto;
    }

    .polyt-image {
        margin-top: 20px;
        border: 5px;
        border-style: solid;
        border-radius: 5px;
        border-color: #ebb9df;
    }

    /* our garden page */

        .garden-intro {
            width: 94%;
        }
      
    /* polly tunnel section */

       .p-container {
         display: flex;
         flex-direction: column;
         align-items: center;
       }

       .p-polly {
        width: 94%;
       }

       .polly-pic {
            width: 50%;
            height:auto;
       }
        .pollytunnel {  
            margin-top: 18px;
            border: 5px;
            border-style: solid;
            border-radius: 5px;
            border-color: #ebb9df;
        }
        
        /* greenhouse section */
            .greenhouse-container {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
            }

            .p-greenhouse {
                width: 56%;
            }

            .img-greenhouse {
                width: 35%;
                height: auto;
            }

            .greenhouse {
                margin-top: 18px;
                border: 5px;
                border-style: solid;
                border-radius: 5px;
                border-color: #ebb9df;
            }

          /* raised bed section */

            .raised-bed {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
            }

            .p-raised-beds {
                width: 56%;
            }

            .img-beds{
                width: 35%;
                height: auto;
            }

            .raised-pic {
                margin-top: 18px;
                border: 5px;
                border-style: solid;
                border-radius: 5px;
                border-color: #ebb9df;
            }

            /* fresh produce section */
        
                .produce-container{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                }
        
                .p-fresh-prooduce {
                    width: 56%;
                }
        
                .img-produce {
                    width: 35%;
                    height: auto;
                }
        
                .produce {
                    margin-top: 18px;
                    border: 5px;
                    border-style: solid;
                    border-radius: 5px;
                    border-color: #ebb9df;
                }
}

@media screen and (min-width: 1000px) {

    body {
        font-size: 130%;
    }
}

@media screen and (min-width: 1350px) {
    .p-about-2 {
        display: none;
    }

    .p-about-2a {
        display: flex;
    }
}

@media screen and (min-width: 1500px) {

    body {
        font-size: 150%;
    }
}
